html{
	height:100%;
}
body{
	margin:0;
	padding:0;
	font-family: Helvetica;
	
}
header{
	box-sizing: border-box;
	text-align: center;
/*	background: linear-gradient(to right, rgb(128, 144, 203), rgb(129, 168, 198) 37.82%, rgb(137, 202, 144)); */
      background: -webkit-linear-gradient(140deg, #9eeaee 0.42%, #ffffff);
	background: linear-gradient(140deg, #9eeaee 0.42%, #ffffff);  
	height: 20vh;
	padding-top:4vh;
}
header h1{
	display: inline-block;
}
header h1 a{
	text-decoration: none;
	color:rgb(52, 126, 203);
	
	font-style:normal;
	font-weight:bold;
	font-family: Helvetica;
}
nav{
	position: -webkit-sticky;
	position: sticky;
	top:0;
}
nav ul{
	margin:0;
	padding:0;
	 background-color: rgb(52, 126, 203);
	text-align: center;
	list-style: none;

}
nav li{
	border-right:2px solid rgba(241, 239, 242, 0.75);
	height: 6vh;
	line-height: 6vh;
	width:18vw;
	color:#ffffff;
	margin-right: -4px;
	display: inline-block;
}
nav a{
	text-decoration: none;
	color:white;
	display: block;
	padding-left: 15px;
	transition: 0.5s background-color;
	font-size: 150%;
}

nav a:hover{
	background-color: rgb(148, 151, 186);
}
nav li:last-child{
	border-right:none;
}
nav li li{
	border:none;
	display: block;
	font-size: 0.8em;
}
.active{
    cursor: default;
    background-color: rgb(148, 151, 186);
}
nav li ul{
	display: none;
	position: absolute;
	width: inherit;
	text-align: left;
	z-index: 1;/* above image */
}
nav li:hover ul{
	display: block;
}
nav>ul>li{
	text-align: center;
}
nav>ul>li>a
{
	padding-left:0;
}
.left{
    box-sizing: border-box;
    margin-top:10px;
    padding-top:15px;
    padding-left:10px;
    padding-right:10px;
	display: inline-block;
	width:15vw;
	  background: -webkit-linear-gradient(140deg, #9eeaee 0.42%, #ffffff);
	background: linear-gradient(140deg, #9eeaee 0.42%, #ffffff);  
	min-height: 1500px;
	float:left;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left:10px;
    border-radius:10px;
   border:solid 1px rgb(52, 126, 203);
    

}
.right{
	display: inline-block;
    padding-left:15px;
    padding-right:15px;
    margin-top:10px;
	width:79vw;
	min-height: 1500px;
	border-radius:10px;
	  background: -webkit-linear-gradient(140deg, #9eeaee 0.42%, #ffffff);
	background: linear-gradient(140deg, #9eeaee 0.42%, #ffffff);  
    
   
   

}
.right img{
	display: inline-block;
	height:200px;
	width:200px;
	border-radius:100px;
	transform:rotate(90deg);
	margin:0 auto;

}

.right p{
	color:rgb(165,42,42);
	font-family:'Helvetica';
	font-size:1em;
	font-style:italic;
	display: inline-block;
	float: left;

}
#footer{
	min-height: 200px;
	background: -webkit-linear-gradient(140deg, #9eeaee 0.42%, #ffffff);
	background: linear-gradient(140deg, #9eeaee 0.42%, #ffffff);  
	clear: both;
	margin:10px 5px;
	position: relative;
	bottom: 0;
	border-radius:15px 15px 0 0;
    border:solid 1px rgb(52, 126, 203);
    border-bottom: 0;
    margin-left:10px;
    margin-right: 10px;

}
pre{
	background-color: rgba(28, 42, 145, 0.31);
	padding-left: 20px;
    border-radius: 20px;
    width:69vw;
    margin:0 auto;
}
code{
	color:white;
	font-family: monospace;
	line-height: 20px;

}
.right h2{
    margin-left: 50px;
    color: rgb(63, 179, 69);
    text-decoration: underline;
    font-weight: normal;
    font-family: Helvetica Neue;
    margin-bottom: 30px;
}
.right h3{
	margin-left: 50px;
    color: rgb(63, 179, 69);
    text-decoration: underline;
    font-weight: normal;
    font-family: Helvetica Neue;
    margin-bottom: 30px;
}
.right h1{
   color: rgb(63, 179, 69);
    font-family: Helvetica Neue;
    text-align: left;
    margin-left: 51px;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight:normal;
}
.para{
   /* color:rgb(57, 105, 199); */
   	color:rgb(165,42,42);
    font-family: Helvetica Neue;
    margin-left: 50px;
    font-size: 1.3em;
}
.output{
	background-color: rgb(130, 172, 142);

}
li{
	color:rgb(165,42,42);
}



